<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327988464537-7q3c25kt47mm8nb0tepj8471iipfli0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327988464537-7q3c25kt47mm8nb0tepj8471iipfli0j</string>
	<key>API_KEY</key>
	<string>AIzaSyAtm_nJ-GgyhysO1fT7cPqarQn_T317Jps</string>
	<key>GCM_SENDER_ID</key>
	<string>327988464537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projile.surveyjs.surveyjsProjile</string>
	<key>PROJECT_ID</key>
	<string>surveyjs-28c33</string>
	<key>STORAGE_BUCKET</key>
	<string>surveyjs-28c33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327988464537:ios:e51b7db1213de43a1ba108</string>
</dict>
</plist>